= simple_form_for(form, url: url, namespace: [:contact, :name], remote: true, data: {type: :json}, html: {class: 'form-horizontal'}) do
  - simple_fields_for form,
      wrapper: :horizontal_form,
      wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
                          radio_buttons: :horizontal_radio_and_checkboxes,
                          file: :horizontal_file_input,
                          boolean: :horizontal_boolean} do | f |
    %h4= _('profile.name.title')
    .form-group
      = f.label _('simple_form.labels.profile.name'), class: %w(col-sm-2 control-label)
      .col-sm-4= f.input_field :first_name, class: 'form-control', placeholder: _('simple_form.placeholders.profile.first_name')
      .col-sm-2= f.input_field :middle_name, class: 'form-control', placeholder: _('simple_form.placeholders.profile.middle_name')
      .col-sm-4= f.input_field :last_name, class: 'form-control', placeholder: _('simple_form.placeholders.profile.last_name')

    = f.button :submit, _('profile.name.save'), classes: 'col-sm-offset-2 col-sm-10', spinner: true

= simple_form_for(form, url: url, namespace: [:contact, :general], remote: true, data: {type: :json}, html: {class: 'form-horizontal'}) do

  - simple_fields_for form,
      wrapper: :horizontal_form,
      wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
                          radio_buttons: :horizontal_radio_and_checkboxes,
                          file: :horizontal_file_input,
                          boolean: :horizontal_boolean} do | f |
    %h4= _('profile.general.title')
    = f.input :date_of_birth, as: :datefield, placeholder: _('date.formats.placeholder'), input_html: { format: { order: _('date.order'), separator: _('date.formats.separator') } }
    = f.input :birth_place, required: false
    = f.input :home, required: false
    = f.input :gender, as: :radio_buttons, collection: [:male, :female], required: false

    = f.button :submit, _('profile.general.save'), classes: 'col-sm-offset-2 col-sm-10', spinner: true

= cell(Profile::NetworkAccount::Cell::Edit, model)