-#- provide :page_header, _('views.profile.show.header')
- provide :title, _('views.profile.show.header')
- provide :profile_header, _('views.profile.show.info')
- provide :profile_edit do
  = link_to(edit_user_path(@user), class: %w(button edit profile-edit), role: :button) do
    %i.fa.fa-pencil-square
    %span= _('views.profile.show.edit')


= render layout: 'layouts/profiles' do
  -#= carousel('favorites') do
  -#  = slides do
  -#    = slide(:active => true) do
  -#      = render 'favorite'
  -#    = slide do
  -#      = render 'favorite'
  -#    = slide do
  -#      = render 'favorite'
  -#.slide-controls
  -#  = slide_control 'favorites', :left, :prev, 'step-backward', :Previous
  -#  = slide_control 'favorites', :pause, :pause, 'pause', :pause
  -#  = slide_control 'favorites', :right, :next, 'step-forward', :Next

  = concept('cell/profile/show', @model, user: @user, section: 'bio')
  .tab-content= render 'profiles/bios/bio'
