.col-lg-3.col-md-4.col-sm-4
  .main-box.clearfix
    %h2= name

    .profile-status
      %i.fa.fa-check-circle
      - if online?
        %span= _('views.users.sidebar.online')
      - else
        %span.offline= _('views.users.sidebar.offline')

    .profile-picture
      - if editable?
        .profile-picture-edit
          %a{href: '#', data: {upload: true, 'upload-field': 'photo[file]', url: user_profile_photo_path(model, profile), image: {field: 'photo', thumb: 'profile_picture'}}}
            .progress
              .progress-bar.progress-bar-striped.active{role: :progressbar, aria: {valuemin: 0, valuemax: 100, valuenow: 0}} 0%
            .girder
              %i.fa.fa-camera-retro.fa-lg
              .edit= _('views.users.sidebar.photo.edit')
            -#=concept('profile/cell/photo', profile).(:profile_picture)
            = concept('profile/cell/photo', profile).(:profile_picture, class: %w(profile-img img-responsive centerblock), blank_image: 'unknown.jpg')
      - else
        =concept('profile/cell/photo', profile).(:profile_picture, class: %w(profile-img img-responsive centerblock), blank_image: 'unknown.jpg')

    .profile-label
      %span.label.label-danger= roles.first.name

    .profile-since= "#{_('views.users.sidebar.member_since')} #{created_at}"

    .profile-details
      %ul.list-group
        %li.list-group-item
          %i.fa.fa-glass
            %span= "#{_('wines')}:"
          %span.badge 12
        %li.list-group-item
          %i.fa.fa-comment
            %span= "#{_('posts')}:"
          %span.badge 23
        %li.list-group-item
          %i.fa.fa-thumbs-o-up
            %span= "#{_('favorites')}:"
          %span.badge 56

    .profile-message-btn.center-block.text-center
      %a.btn.btn-success
        %i.fa.fa-envelope
        %span= _('views.users.sidebar.send_message')