- provide :title, _('views.profile.show.header')

-#- provide :page_header, _('views.profile.show.header')
- provide :profile_header, _('views.profile.show.info')
- provide :profile_edit do
  = link_to(edit_user_path(@user), class: %w(button edit edit-profile), role: :button) do
    %i.fa.fa-pencil-square
    %span= _('views.profile.show.edit')

= render layout: 'layouts/profiles' do
  = concept('profile/cell/show', @model, user: @user, section: 'contact')
  .tab-content= render 'profiles/contacts/contact'

  -#= carousel('favorites') do
  -#  = slides do
  -#    = slide(:active => true) do
  -#      = render 'favorite'
  -#    = slide do
  -#      = render 'favorite'
  -#    = slide do
  -#      = render 'favorite'
  -#.slide-controls
  -#  = slide_control 'favorites', :left, :prev, 'step-backward', :Previous
  -#  = slide_control 'favorites', :pause, :pause, 'pause', :pause
  -#  = slide_control 'favorites', :right, :next, 'step-forward', :Next

    -#%nav.user-profile-tabs
    -#  %ul.nav
    -#    %li.contact.active
    -#      %a{href: '#'}= _('view.profiles.show.contacts')
    -#    %li.bio
    -#      %a{href: '#'}= _('view.profiles.show.bio')
    -#    %li.activity
    -#      %a{href: '#'}= _('view.profiles.show.activity')
    -#    %li.friends
    -#      %a{href: '#'}= _('view.profiles.show.friends')

    -#.tabs-wrapper.profile-tabs
    -#  %ul.nav.nav-tabs
    -#    %li.active
    -#      %a{:href => '#tab-bio', :data => {:toggle => 'tab'}}= _('view.profiles.show.contacts')
    -#    %li
    -#      %a{:href => '#tab-activity', :data => {:toggle => 'tab'}}= _('view.profiles.show.activity')
    -#    %li
    -#      %a{:href => '#tab-friends', :data => {:toggle => 'tab'}}= _('view.profiles.show.friends')
    -#
    -#  .tab-content
    -#    =render 'profiles/contacts/show'
    -#
    -#    #tab-activity.tab-pane.fade
    -#      .table-responsive
    -#        %table.table
    -#          %tbody
    -#            %tr
    -#              %td.text-center
    -#                %i.fa.fa-comment
    -#              %td
    -#                Erwin posted a comment in <a href="#">Avengers Initiative</a> project.
    -#              %td
    -#                2014/08/08 12:08
    -#            %tr
    -#              %td.text-center
    -#                %i.fa.fa-wine
    -#              %td
    -#                Erwin posted a comment in <a href="#">Avengers Initiative</a> project.
    -#              %td
    -#                2014/08/08 12:08
    -#
    -#    #tab-friends.tab-pane.fade
    -#      %ul.profile-users.row
    -#        %li.col-md-6
    -#          .img
    -#            %img.img-circle{src: 'holder.js/50x50'}
    -#          .details
    -#            .name
    -#              %a Erwin Straver
    -#            .time.online
    -#              %i.fa.fa-check-circle
    -#                Online
    -#            .type
    -#              .label.label-danger Admin
    -#        %li.col-md-6
    -#          .img
    -#            %img.img-circle{src: 'holder.js/50x50'}
    -#          .details
    -#            .name
    -#              %a Liesbeth schut
    -#            .time.online
    -#              %i.fa.fa-check-circle
    -#                Online
    -#            .type
    -#              .label.label-danger Wine lover
    -#        %li.col-md-6
    -#          .img
    -#            %img.img-circle{src: 'holder.js/50x50'}
    -#          .details
    -#            .name
    -#              %a Wim Schut
    -#            .time
    -#              %i.fa.fa-clock-o
    -#                Last online: 1 week ago
    -#            .type
    -#              .label.label-danger Wine lover
    -#
    -#      %br/
    -#      %a.btn.btn-success.pull-right View all users