= simple_form_for(form, url: url, namespace: :network_accounts, remote: true, data: {type: :html}, html: {class: 'form-horizontal'}) do

  - simple_fields_for form,
      wrapper: :horizontal_form,
      wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
                          radio_buttons: :horizontal_radio_and_checkboxes,
                          file: :horizontal_file_input,
                          boolean: :horizontal_boolean} do | f |
    %h4= _('profile.network_accounts.title')
    #network_account_list
      = cell(Profile::NetworkAccount::Cell::Fields, collection: network_accounts)

    .col-md-offset-2
      = link_to new_user_profile_network_accounts_path(user, model), class: %w(add-relation network-account) do
        %i.fa.fa-plus-square-o.fa-2x
        .title= _('profile.network_account.add')

    = f.button :submit, _('profile.network_accounts.save'), classes: "#{network_accounts.size > 0 ? nil : 'hide'} col-sm-offset-2 col-sm-10", spinner: true