- index = yield
%section.content-wrapper
  .content.col-sm-8
    - if index.empty?
      = cell(Post::Cell::Index::Empty, nil)
    - else
      = index
      = pager model
  -#.sidebar.col-sm-3.col-sm-offset-1= cell(Post::Cell::Widget, collection: widgets)
  .sidebar.col-sm-3.col-sm-offset-1
    - widgets.each do | widget |
      = cell("post/cell/sidebar/#{widget.to_s.singularize}", widget)


