!!!
%html
  %head
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %title= content_for?(:title) ?  "#{yield(:title)} |  Alles over wijn" : 'Alles over wijn'
    %meta{:name => 'description', content: "#{content_for?(:description) ? yield(:description) : 'Allesoverwijn'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true, type: 'text/javascript'
    = csrf_meta_tags
  %body{class: @preview ? :overlay : nil}
    .wrapper
      %header
        -#= render 'layouts/navigation'
        = cell('navigation/navigation', NavigationLink, context: {current_user: current_user}, layout: Navigation::LayoutCell )
      - if content_for? :section
        %section= yield :section
      - else
        %section
          .header-bg= image_tag 'header.png'
      %main{role: 'main', data: {'appearing-on': "#{Time.now}", controller: page_controller_name, action: page_action_name}, class: controller.controller_name + ' ' + controller.action_name}
        = render 'layouts/messages'
        - if content_for?(:title)
          .page-header
            %h1
              %span= _(yield(:title))
        = yield
      %footer
        %ul.social-networks
          %li
            %button{:class => 'btn btn-facebook'}
              %i{:class => 'fa fa-facebook'}
          %li
            %button{:class => 'btn btn-twitter'}
              %i{:class => 'fa fa-twitter'}
          %li
            %button{:class => 'btn btn-linkedin'}
              %i{:class => 'fa fa-linkedin'}
          %li
            %button{:class => 'btn btn-google-plus'}
              %i{:class => 'fa fa-google-plus'}
        .copyright
          =link_to 'Alles over wijn', '#'
          %span.glyphicon.glyphicon-copyright-mark
          %span= "#{Date.today.year} All rights reserved ||"
          =link_to 'Privacy policy', '#'

    - if @preview
      = concept('post/cell/preview')