.row
  .blog-post
    -#- if picture.exists?
    .blog-picture
      -#= header class: %w(post-image img-responsive centerblock)
      = concept('post/cell/picture', model).(:header, class: %w(post-image img-responsive centerblock))

    = cell(Blog::Cell::Header, model)

    = cell(Blog::Cell::Meta, model)

    = article_summary

    .read-more
      = link_to(blog_path(model), class: %w(button blog-read-more), role: :button) do
        %i.fa.fa-chevron-circle-right
        %span= _('view.blogs.read_more')